.quicksand-font{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* shared styles */
.display-flex{
  display: flex;
}

.color-1{
    color: #FEA301;
}

.color-2{
    color: #01ACFD;
}

.color-3{
    color: #05D4DF;
}

.color-4{
    color: #5D58EF;
}



/* nav styles */
header{
    max-width: 1440px;
    margin: 0px auto;
}

.navbar{
    max-width: 1160px;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
    padding: 20px 140px;
}

.ins-container{
    align-items: center;
}

.ins-logo{
    max-width: 62px;
    max-height: 62px;
}

.ins-name{
    font-size: 2rem;
    font-weight: 700;
    color: #111;
    padding: 17px 0px 15px 11px;
}

.nav-item{
    list-style: none;
    margin-right: 32px;
}

.nav-link{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}

.nav-btn{
    max-width: 197px;
    padding: 10px 60px;
    border-radius: 12px;
    border: none;
    background-color: #FEA301;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 600;
}



/* banner styles */
.banner{
    max-width: 1160px;
    margin: 0px auto;
    align-items: center;
    gap: 50px;
}

.banner-title{
    color: #111;
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.banner-description{
    color: #111;
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 24px;
}

.banner-btn{
    padding: 10px 47px;
    border-radius: 12px;
    border: none;
    background-color: #111;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 700;
}



/* responsive styles */
@media screen and (min-width: 576px){
    .hide{
        display: none;
    }
}


@media screen and (max-width: 576px){
    .ins-name,
    .nav-links-container,
    .nav-btn{
        display: none;
    }

    .navbar{
        gap: 282px;
        justify-content: center;
        align-items: center;
        max-width: 390px;
        border: 0.5px solid #FEA301;
    }

    .ins-logo{
        max-width: 46px;
        max-height: 46px;
    }

    .banner{
        max-width: 357px;
        display: grid;
        /* grid-template-columns: 1fr; */
        /* grid-template-rows: 1fr; */
        justify-content: center;
        align-items: center;
        padding: 20px 0px;
        gap: 20px;
    }

    .banner-content{
        grid-column: 1;
        grid-row: 2;
        text-align: center;
    }

    .banner-title{
        font-size: 2rem;
        margin-bottom: 18px;
    }

    .banner-description{
        font-size: 0.875rem;
        margin-bottom: 18px;
    }

    .banner-btn{
        padding: 6px 24px;
        border-radius: 8px;
        border: none;
        background-color: #111;
        color: #ffffff;
        font-size: 1rem;
        font-weight: 700;
    }

    .banner-img{
        width: 100%;
        margin-bottom: 0px;
    }
}