.quicksand-font{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
}

.hide{
    display: none;
}


/* shared styles */
.display-flex{
  display: flex;
}

.color-1{
    color: #FEA301;
}

.color-2{
    color: #01ACFD;
}

.color-3{
    color: #05D4DF;
}

.color-4{
    color: #5D58EF;
}

main{
    max-width: 1440px;
    margin: 0px auto;
}



/* nav styles */
header{
    max-width: 1440px;
    margin: 0px auto;
}

.navbar{
    max-width: 1160px;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
    padding: 20px 140px;
}

.ins-container{
    align-items: center;
}

.ins-logo{
    max-width: 62px;
    max-height: 62px;
}

.ins-name{
    font-size: 2rem;
    font-weight: 700;
    color: #111;
    padding: 17px 0px 15px 11px;
}

.nav-item{
    list-style: none;
    margin-right: 32px;
}

.nav-link{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}

.nav-btn{
    max-width: 197px;
    padding: 10px 60px;
    border-radius: 12px;
    border: none;
    background-color: #FEA301;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 600;
}



/* banner styles */
.banner{
    max-width: 1160px;
    margin: 0px auto;
    align-items: center;
    gap: 50px;
}

.banner-title{
    color: #111;
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.banner-description{
    color: #111;
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 24px;
}

.banner-btn{
    padding: 10px 47px;
    border-radius: 12px;
    border: none;
    background-color: #111;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 700;
}



/* curriculums styles */
.curriculums{
    background-image: url(assets/bg.png);
    background-color: lightgray 50%;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
}

.curriculums-title{
    justify-content: center;
    text-align: center;
    color: #000;
    font-size: 2.875rem;
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 80px;
}


.curriculums-container{
    max-width: 1160px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
}

.curriculum-card-1{
    border-radius: 18.864px;
    border: 0.943px solid #DEF5FF;
    text-align: center;
    justify-content: center;
    padding: 53px 40px;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
    background: linear-gradient(180deg, #DEF5FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
}

.curriculum-card-2{
    border-radius: 18.864px;
    border: 0.943px solid #DEF5FF;
    text-align: center;
    justify-content: center;
    padding: 53px 40px;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
    background: linear-gradient(180deg, #FFF4DC 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
}

.curriculum-card-3{
    border-radius: 18.864px;
    border: 0.943px solid #DEF5FF;
    text-align: center;
    justify-content: center;
    padding: 53px 40px;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
    background: linear-gradient(180deg, #EEE1FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
}

.curriculum-title{
    color: #202020;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 32px;
    margin-bottom: 0px;
}

.curriculum-description{
    color: #808080;
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 32px;
    margin-bottom: 0px;
}

.read-more-btn-1{
    color: #64C8FF;
    background: none;
    border: none;
    font-size: 0.9rem;
    font-weight: 700;
    margin-top: 32px;
    margin-bottom: 0px;
}

.read-more-btn-2{
    color: #F0AA00;
    background: none;
    border: none;
    font-size: 0.9rem;
    font-weight: 700;
    margin-top: 32px;
    margin-bottom: 0px;
}

.read-more-btn-3{
    color: #8700FF;
    background: none;
    border: none;
    font-size: 0.9rem;
    font-weight: 700;
    margin-top: 32px;
    margin-bottom: 0px;
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.arrow-btn{
    width: 60px;
    height: 60px;
    margin-top: 80px;
    margin-bottom: 60px;
    border-radius: 30px;
    background-color: #FEA301;
    border: none;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 900;
}

.arrow-btn span{
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 900;
}



/* responsive styles */
/* @media screen and (min-width: 576px){
    .hide{
        display: none;
    }
} */



@media screen and (max-width: 576px){
    .ins-name,
    .nav-links-container,
    .nav-btn,
    .btn-container{
        display: none;
    }

    .menubar{
        display: block;
    }

    .navbar{
        gap: 282px;
        justify-content: center;
        align-items: center;
        max-width: 390px;
        border: 0.5px solid #FEA301;
    }

    .ins-logo{
        max-width: 46px;
        max-height: 46px;
    }



    /* banner styles */
    .banner{
        max-width: 357px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 20px 0px;
        gap: 20px;
    }

    .banner-content{
        text-align: center;
    }

    .banner-title{
        font-size: 2rem;
        margin-bottom: 18px;
    }

    .banner-description{
        font-size: 0.875rem;
        margin-bottom: 18px;
    }

    .banner-btn{
        padding: 6px 24px;
        border-radius: 8px;
        border: none;
        background-color: #111;
        color: #ffffff;
        font-size: 1rem;
        font-weight: 700;
    }

    .banner-img{
        width: 100%;
        margin-bottom: 0px;
    }



    /* curriculums styles */
    .curriculums{
        background-image: url(assets/bg.png);
        background-color: lightgray 0% 0%;
        background-size: inherit;
        background-repeat: repeat;
    }

    .curriculums-title{
        text-align: center;
        font-size: 1.625rem;
        font-weight: 700;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .curriculums-container{
        max-width: 357px;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 20px;
    }

    .curriculum-card-1{
        border-radius: 12.772px;
        border: 0.639px solid #DEF5FF;
        text-align: center;
        justify-content: center;
        padding: 36px 28px;
        box-shadow: 0px 0px 19.158px 0.639px rgba(0, 0, 0, 0.05) inset;
        background: linear-gradient(180deg, #DEF5FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    }

    .curriculum-card-2{
        border-radius: 12.772px;
        border: 0.639px solid #DEF5FF;
        text-align: center;
        justify-content: center;
        padding: 36px 28px;
        box-shadow: 0px 0px 19.158px 0.639px rgba(0, 0, 0, 0.05) inset;
        background: linear-gradient(180deg, #FFF4DC 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    }

    .curriculum-card-3{
        border-radius: 12.772px;
        border: 0.639px solid #DEF5FF;
        text-align: center;
        justify-content: center;
        padding: 36px 28px;
        box-shadow: 0px 0px 19.158px 0.639px rgba(0, 0, 0, 0.05) inset;
        background: linear-gradient(180deg, #EEE1FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    }

    .curriculum-title{
        color: #202020;
        font-size: 1rem;
        font-weight: 700;
        margin-top: 22px;
        margin-bottom: 0px;
    }
    
    .curriculum-description{
        color: #808080;
        font-size: 0.6rem;
        font-weight: 500;
        margin-top: 22px;
        margin-bottom: 0px;
    }

    .read-more-btn-1{
        color: #64C8FF;
        background: none;
        border: none;
        font-size: 0.6rem;
        font-weight: 700;
        margin-top: 22px;
        margin-bottom: 0px;
    }
    
    .read-more-btn-2{
        color: #F0AA00;
        background: none;
        border: none;
        font-size: 0.6rem;
        font-weight: 700;
        margin-top: 22px;
        margin-bottom: 0px;
    }
    
    .read-more-btn-3{
        color: #8700FF;
        background: none;
        border: none;
        font-size: 0.6rem;
        font-weight: 700;
        margin-top: 22px;
        margin-bottom: 0px;
    }
}